body {
  font-family: 'Montserrat', sans-serif;
  background-color: #242527; /* fundo preto */
  text-align: center;
  font-size: 14px;
  padding: 20px;
  color: #ffffff; /* cor padrão do texto em branco */
}

h1 {
  color: #00FF00; /* título em verde neon */
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.credit {
  font-size: 11px;
  color: #cccccc; /* cinza claro */
  font-family: 'Montserrat', sans-serif;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #F0F0F0; /* cartas brancas */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1); /* sombra suave clara */
  width: 400px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 18px;
  color: #000000; /* texto preto */
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  color: #0F0F0F; /* preto */
}

.card-value {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #0F0F0F; /* preto */
}

.result {
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #F0F0F0; /* resultado em branco */
}

button {
  padding: 10px 40px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  background-color: #00ff00; /* verde neon */
  color: #000000; /* texto preto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #00FF00; /* verde mais escuro no hover */
}
