body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f8ff;
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

h1 {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.credit {
  font-size: 11px;
  color: gray;
  font-family: 'Montserrat', sans-serif;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 18px;
  color: #333;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

.card-value {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #007BFF;
}

.result {
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #000000;
}

button {
  padding: 10px 40px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
